<ion-header>
  <ion-toolbar  style="background:black;">
    <ion-buttons style="color:white;" slot="start">
      <ion-menu-button style="color:white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="background-color:#282828;color: white;line-height:35px;">
      VIRTOGRAMMA
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-searchbar [(ngModel)]="search"></ion-searchbar>
	<!-- SULUGUNI CARD -->

	<a style="text-decoration:none;" routerLink="/suluguni">
		<ion-card>
			<ion-img src="/src/app/suluguni/img/suluguni-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">SULUGUNI</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<ion-icon name="pin"></ion-icon>ПЕР. МУЗЕЙНЫЙ 10
			</ion-card-content>
		</ion-card>
	</a>

	<!-- NIKO BAR CARD -->

	<a style="text-decoration:none;" routerLink="/niko-bar">
		<ion-card value="niko">
			<ion-img src="/src/app/niko-bar/img/nikobar-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:8px;">NIKO BAR</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. ЗЛАТОУСТОВСКАЯ 51<p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- DOLMA CARD -->

	<a style="text-decoration:none;" routerLink="/dolma">
		<ion-card>
			<ion-img src="/src/app/dolma/img/dolma-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">DОЛМА</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. БОЛЬШАЯ ВАСИЛЬКОВСКАЯ 122<p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- SAMOGON CARD -->

	<a style="text-decoration:none;" routerLink="/samogon-fish-bar">
		<ion-card>
			<ion-img src="/src/app/samogon-fish-bar/img/samogon-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">SAMOGON FISH BAR</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. НАБЕРЕЖНО-КРЕЩАТИЦКАЯ 10</p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- WE RESTAURANT CARD -->

	<a style="text-decoration:none;" routerLink="/we-restaurant">
		<ion-card>
			<ion-img src="/src/app/we-restaurant/img/we-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">WE.RESTAURANT</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> ПР. ГЕРОЕВ СТАЛИНГРАДА 6К4<p>
			</ion-card-content>
		</ion-card>
	</a>


	<!-- LEMONGRASS CAFE CARD -->

	<a style="text-decoration:none;" routerLink="/lemongrass-cafe">
		<ion-card>
			<ion-img src="/src/app/lemongrass-cafe/img/lemongrass-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">LEMONGRASS CAFE</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. ЗЛАТОУСТОВСКАЯ 14<p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- INDIGO CARD -->

	<a style="text-decoration:none;" routerLink="/indigo">
		<ion-card>
			<ion-img src="/src/app/indigo/img/indigo-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">INDIGO</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. КУДРЯШОВА 3<p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- NAM CARD -->

	<a style="text-decoration:none;" routerLink="/nam">
		<ion-card>
			<ion-img src="/src/app/nam/img/nam-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">NĂM</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. БОЛЬШАЯ ВАСИЛЬКОВСКАЯ 48<p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- INSIDE LOUNGE BAR CARD -->

	<a style="text-decoration:none;" routerLink="/inside">
		<ion-card>
			<ion-img src="/src/app/inside/img/inside-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">INSIDE LOUNGE BAR</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> БУЛ. ДРУЖБЫ НАРОДОВ 28 В<p>
			</ion-card-content>
		</ion-card>
	</a>

	<!-- AVOCADO CARD -->

	<a style="text-decoration:none;" routerLink="/avocado">
		<ion-card>
			<ion-img src="/src/app/avocado/img/avocado-li.jpg"></ion-img>
			<ion-card-header>
			<ion-card-title style="height:9px;">AVOCADO</ion-card-title>
			</ion-card-header>
			<ion-card-content>
			<p><ion-icon name="pin"></ion-icon> УЛ. ИНСТИТУТСКАЯ 27 / 6<p>
			</ion-card-content>
		</ion-card>
	</a>
</ion-content>
